.wrapper {
    margin-top: 8px;
}

.header {
    display: flex;
    align-items: center;
    gap: 160px;
}

.go_back_btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.searh_input {
    max-width: 480px;
}

.list_wrapper :global(.ant-list-items) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1050px;
    margin-top: 24px;
}
:global(.ant-list-pagination) {
    text-align: left;
}

@media (max-width: 870px) {
    .go_back {
        gap: 0px;
    }

    .header {
        gap: 48px;
    }
    .searh_input {
        max-width: 380px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        gap: 0;
        align-items: start;
    }
}
