.ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations-hidden {
    display: none;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
    display: none;
}

.ant-tabs-tab + .ant-tabs-tab {
    margin-left: 0;
}
